/* Blog details style */

.blog-details {
    margin: 4rem 1rem;
    padding-bottom: 5rem;
    padding-left: 15rem;
    padding-right: 15rem;
}

h3 a {
    color: var(--textColor);
    text-decoration: underline;
}
h3 a:hover {
    color: var(--);
}

.title {
    margin-bottom: .5rem;
    margin-top: 0;
    margin-left: 0rem;
}

.date {
    font-size:1rem;
    color: var(--textColor);
    margin-bottom: 2rem;
}

p {
    margin-left: 0;
    margin-right: 0;
}







