@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* color variables */
:root {
    --primaryColor: #181C28;
    --secondaryColor : #283354;
    --textColor : #FFFFFF;
    --innerColor: #1A1A1A;
    --innerColorLite: #4f4040;
    --buttonColor : #1E90FF;
    --buttonTextColor : #ffffff;
    --buttonhover: #0C75E3;
    --importantinfo: #FFA500;
    --dangerColor : red;
    --primaryColor-rgb: 24, 28, 40;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 9vmax;
}

/* Style for all svg */
.svg-icon {
    fill: var(--textColor);
}

/* CSS Resest */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*  Universal Style */
body {
    background-color: var(--primaryColor);
    color: var(--textColor);
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
body.theme-light {
    --primaryColor: #f7f7f7;       
    --secondaryColor: #d1d6e0;     
    --textColor: #1A1A1A;          
    --innerColor: #ffffff;         
    --innerColorLite: #e5e5e5;     
    --buttonColor: #0078d7;        
    --buttonhover: #005a9e;
    --primaryColor-rgb: 247, 247, 247;
}

.container {
    max-width: 1320px;
    height: 100%;
    margin: auto;
}

h1,h2,h3,h4,h5,h6  {
    font-family: "Poppins", serif;
}

/* all images and h4 */
img {
    width: 100%;
}
h4 {
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--primaryColor-rgb),0.9);
    padding: 1rem;
    position: fixed;
        top: 0;
    width: 100%;
    height: 60px;
    z-index: 15;
    transition: background-color 0.2s linear;
}

header.active {
    background-color: var(--primaryColor);
}


/* Logo Design */
.logo {
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--textColor);
}

.logo::before {
    content: "";
    display: block;
    width: 60%;
    height: 20%;
    background-color: var(--buttonColor);
    position: absolute;
        top: 100%;
        left: 0;
    border-radius:  .1rem 0 ;
    z-index: 2;
}

/* Hambuger menu */
.menu-btn-cont {
    margin-left: auto;
    cursor: pointer;
    padding: 1rem .3rem;
    border-radius: .3rem;
    transition: background-color 0.2s linear;
}
.menu-btn-cont:hover {
    background-color: var(--secondaryColor);
}

.menu-btn,.menu-btn::after,.menu-btn::before {
    width: 2rem;
    height: .23rem;
    background-color: var(--textColor);
    border-radius: .1rem;
    position: relative;
    transition: all .2s linear;
}


.menu-btn::after,.menu-btn::before {
    display: block;
    content: "";
    position: absolute;
}
.menu-btn::after {
    top: -250%;
}
.menu-btn::before {
    top: 250%;
}

.menu-btn-cont.active .menu-btn::after {
    transform: rotate(35deg) translate(3px,8px);
    width: 2.1rem;
}
.menu-btn-cont.active .menu-btn {
    background-color: rgb(255, 255, 255,0);
}
.menu-btn-cont.active .menu-btn::before {
    transform: rotate(-35deg) translate(4px,-10px);
    width: 2.1rem;
}


/* Theme Switch toogle */
.theme-switch {
    background-color: #181C28;
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 1px 1px .5rem  rgba(0,0,0,0.8), inset -1px -1px .5rem rgba(0,0,0,0.8);
    position: relative;
    transition: all 0.3s linear;
    margin-left: 2rem;
    display: none;
}

.theme-dark-icon,.theme-light-icon {
    fill: rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.theme-switch::before {
    content: "";
    background-color: var(--buttonhover);
    width: 50%;
    height: 90%;
    position: absolute;
        left: 48%;
    border-radius: 2rem;
    opacity: 0.5;
    box-shadow: 2px 2px 5px rgb(0, 0, 0,0.2), -2px -2px 5px rgb(0, 0, 0,0.2);
    transition: all 0.3s linear;
}

.theme-switch.active {
    background-color: white;
}

.theme-switch.active .theme-light-icon {
    fill: #181C28;
}

.theme-switch.active .theme-dark-icon {
    fill: #181C28;
}

.theme-switch.active::before {
    left: .1rem;
    box-shadow: 2px 2px 5px rgb(255, 255, 255,0.2), -2px -2px 5px rgb(255, 255, 255,0.2);
}

/* Main navbar */
.main_navbar {
    color: var(--textColor);
    margin-left: auto;
    display: none;
    
}
.main_navbar li {
    display: inline;
    color: var(--textColor);
    list-style-type: none;
}

.main_navbar li a {
    color: var(--textColor);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 .4rem;
    transition: color 0.2s linear;
}

.main_navbar li a:hover {
    color: var(--buttonhover);
}

.over-lay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 14;
}
.over-lay.active {
    display: block;
}
.main_navbar a.active {
    color: var(--buttonColor);
}


/* SideBar Nav */

.side-navBar {
    background-color: var(--primaryColor);
    position: fixed;
        top: 58px;
        right: -100%;
    width: 70%;
    height: 100vh;
    transition: right 0.5s ease-in-out;
    z-index: 15;
}
.side-navBar.active {
    right: 0;
}

.side-navBar nav ul{
    list-style-type: none;
    text-align: center;
    height: 100%;
    margin-top: 1.5rem;
}

.side-navBar nav ul li a {
    color: var(--textColor);
    display: block;
    padding: 1rem;
    font-size: 1.1rem;
    transition: background-color 0.2s linear;
    text-transform: uppercase ;
}

.side-navBar nav ul li a:hover{
    background-color: var(--buttonhover);
    color: white;
}

.side-navBar .theme-switch {
    width: 4rem;
    display: flex;
    margin: auto;
    margin-top: 3rem;
}

.side-navBar a.active {
    color: var(--buttonColor);
}
 

/* Component styling */
h1 {
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin: .6rem;
    margin-top: 1.1rem;
}


.button {
    display: inline-block;
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    padding: .7rem .2rem;
    width: 7rem;
    border-radius: .3rem;
    transition: background-color 0.2s linear;
}

.button-transparent {
    background-color: transparent;
    color: var(--textColor);
    padding: .57rem .2rem;
    width: 7rem;
    border-radius: .3rem;
    border: .1rem solid var(--buttonColor);
    box-shadow: .1rem .1rem .4rem var(--buttonColor);
    transition: background-color 0.2s linear;
}
.button-transparent svg {
    width: 1rem;
    height: 1rem;
}


.button:hover {
    background-color: var(--buttonhover);
}

.button-transparent:hover {
    background-color: var(--buttonhover);
    color: var(--buttonTextColor);
}
.button-transparent:hover  svg {
    fill: var(--buttonTextColor);
}


h2 {
    font-size: 1.35rem;
    margin-top: 1rem;
    padding-top: 1.3rem;
}




/* Media queries */

@media (prefers-color-scheme: light) {
    :root {
        --primaryColor: #f7f7f7;       
        --secondaryColor: #d1d6e0;     
        --textColor: #1A1A1A;          
        --innerColor: #ffffff;         
        --innerColorLite: #e5e5e5;     
        --buttonColor: #0078d7;        
        --buttonhover: #005a9e;
        --primaryColor-rgb: 247, 247, 247;
    }
}


@media screen and (min-width: 576px) {

    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

}


@media screen  and (min-width:768px){

    footer {
        height: 7rem;
    }

    h1 {
        font-size: 1.8rem;
        margin-left: .7rem;
    }
    

    .grid-container {
        grid-template-columns: 1fr 1fr ;
        
    }
    .main_navbar {
        display: block;
        
    }
    .menu-btn-cont {
        display: none;
    }

    
    .theme-switch {
        display: flex;
    }

}


@media screen and (min-width: 992px) {
    html {
        scroll-behavior: smooth;
        scroll-padding-top: 4vmax;
    }
    
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr ;
        
    }

    h1 {
        font-size: 2rem;
        margin-left: .6rem;
    }

    header {
        max-width: 1320px;
        
    }
}


@media screen  and (min-width:1200px){

    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    
}








